<nav class="pages-list">
    <ul>
        <li><a id="login" class="pages-list-page" href="#">Login page</a></li>
        <li><a href="#" id="auth" class="pages-list-page">Auth page</a></li>
        <li><a href="#" id="chatPage" class="pages-list-page">Chat page</a></li>
        <li><a href="#" id="chatPageWithPopUp" class="pages-list-page">Chat with
                popup page</a></li>
        <li><a href="#" id="chatPageWithModal" class="pages-list-page">Chat with
                modal page</a></li>
        <li><a href="#" id="profilePage" class="pages-list-page">Profile page</a></li>
        <li><a
                href="#"
                id="changeProfileDataPage"
                class="pages-list-page"
            >Profile page change data</a></li>
        <li><a href="#" id="changePassPage" class="pages-list-page">Profile page
                change password</a></li>
        <li><a href="#" id="page404" class="pages-list-page">404 page</a></li>
        <li><a href="#" id="page500" class="pages-list-page">500 page</a></li>
    </ul>
</nav>
