<div class="pages-list">
    <span id="login" class="pages-list-page">Login page</span>
    <span id="auth" class="pages-list-page">Auth page</span>
    <span id="chatPage" class="pages-list-page">Chat page</span>
    <span id="chatPageWithPopUp" class="pages-list-page">Chat with popup page</span>
    <span id="chatPageWithModal" class="pages-list-page">Chat with modal page</span>
    <span id="profilePage" class="pages-list-page">Profile page</span>
    <span id="changeProfileDataPage" class="pages-list-page">Profile page change
        data</span>
    <span id="changePassPage" class="pages-list-page">Profile page change
        password</span>
    <span id="page404" class="pages-list-page">404 page</span>
    <span id="page500" class="pages-list-page">500 page</span>
</div>
