.input-custom {
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-dark-color);
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    padding-top: 8px;
    padding-bottom: 7px;
    font-family: inherit;
}

.input-custom:placeholder {
    color: var(--text-dark-color);
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    font-family: inherit;
}

.input-error {
    color: #ff2f2f;
}

.input-custom:not(:placeholder-shown) + .input-label {
    color: var(--text-middle-color);
}
