<div class="window-header">
    <div class="window-header-user">
        <img
            src="/images/avatar-sceleton.svg"
            alt="avatar"
            width="34px"
            height="34px"
        />
        <span class="window-header-username">Вадим</span>
    </div>
    <div class="window-header-bar {{class}}">
        <svg
            width="3"
            height="16"
            viewBox="0 0 3 16"
            xmlns="http://www.w3.org/2000/svg"
        >
            <g id="Group 194" class="bar-circle">
                <circle id="Ellipse 20" cx="1.5" cy="2" r="1.5" />
                <circle id="Ellipse 21" cx="1.5" cy="8" r="1.5" />
                <circle id="Ellipse 22" cx="1.5" cy="14" r="1.5" />
            </g>
        </svg>
    </div>
</div>
