<div class="popup-message-{{position}}">
    <div class="popup">
        {{#each item}}
            <div class="popup-item">
                <img src={{path}} alt={{alt}} />
                <span class="popup-item__text">{{text}}</span>
            </div>
        {{/each}}
    </div>
</div>
