 <div class="leftbar-header__search-block">
            <a class="search-block__link" href="#"> 
                <span>Профиль</span> 
                <img src="/images/right-icon.svg" alt="стрелка_вправо" ></img>
            </a> 
            <input class="search-block__input" type="text" placeholder="Поиск"/>
        </div>
     