<div class="modal" >
{{#>FormWrapper title="Добавить пользователя" size="s"}}
{{>Input id="input-login" placeholder="Логин" label-title="Логин" type="text"}}
<div class="modal-button-field">
    {{>MainButton class="contained" text="Добавить"}}
</div >
{{/FormWrapper}}
</div>
