<div class="profile-page__avatar">
    <img width="40px" src="/images/media-icon.svg" alt="иконка_медиа" />
    <span class="profile-page__avatar-text">Поменять <br /> аватар</span>
    <div class="profile-page__avatar profile-page__avatar-mask"></div>
</div>
<span class="profile-page__username">Иван</span>
